body {
    background-color:#F1EFDC;
  }

  h1{
    color:#42032C;
    text-align: center;
  }

h2{
    color:#D36B00;
    text-align: center;
}
p{
    color:#3C2317;
    
}
#no1{
  width: 200px;
  height: 200px;
}
#no2{
  width: 200px;
  height: 200px;
}
#no3{
  width: 200px;
  height: 200px;
}
#no4{
  width: 200px;
  height: 200px;
}
#no5{
  width: 200px;
  height: 200px;
}
#no6{
  width: 200px;
  height: 200px;
}
#no7{
  width: 200px;
  height: 200px;
}


